.dropdown-container {
    background: #ECECEC;
    border-radius: 60px;
    /*display: flex;*/
}

.dropdown {
    /*position: absolute;*/
    /*width: 939px;*/
    /*height: 92px;*/
    /*left: 171px;*/
    /*top: 324px;*/

    /*background: #ECECEC;*/
    /*border-radius: 60px;*/

    background: #ECECEC;
    /*border-right: 1px  orange;*/
    margin-right: 2px;
    border: none;
}

.buttonSelect{
    text-align: center;
    border-radius: 60px;
    background: #ECECEC;
    border: none;
    outline: none;
}
/*button {*/
/*    text-align: center;*/
/*    border-radius: 60px;*/
/*    background: #ECECEC;*/
/*    border: none; !* Убираем рамку у кнопки *!*/
/*    outline: none; !* Убираем контур при фокусировке кнопки *!*/
/*}*/